In [135]:
# 1) Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i,end=' ')

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [2]:
# 2) Write a Python program to count the number of even and odd numbers from a series of numbers
even,odd=0,0
for i in range(1,101):
    if i%2==0:
        even+=1
    else:
        odd+=1
print("Even count is:",even)
print("Odd count is:",odd)

Even count is: 50
Odd count is: 50

In [3]:
# 3) Write a Python program to print all numbers from 0 to 10 using a for loop.
for i in range(0, 11):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [4]:
# 4) Write a Python program to print the square of all numbers from 0 to 10 using a for loop.

for i in range(0,11):
    print("Square number for",i,"is:",i**2)

Square number for 0 is: 0
Square number for 1 is: 1
Square number for 2 is: 4
Square number for 3 is: 9
Square number for 4 is: 16
Square number for 5 is: 25
Square number for 6 is: 36
Square number for 7 is: 49
Square number for 8 is: 64
Square number for 9 is: 81
Square number for 10 is: 100

In [5]:
# 5)  Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

for i in range(0,7):
    if i!=3 and i!=6:
        print(i)

0
1
2
4
5

In [6]:
# 6) Write a Python program to get the Fibonacci series between 0 to 50.
a,b=0,1
for i in range(51):
    if a>50:
        break
    print(a,end=" ")
    a,b=b,a+b

0 1 1 2 3 5 8 13 21 34

In [7]:
# 7) Write a Python program to find the sum of all numbers in a list.

list_ =[1,23,45,6]
i=0
for s in list_:
    i+=s
print("Sum of all number is:",i)

Sum of all number is: 75

In [11]:
# 8) Write a Python program to find the multiplication of all numbers in a list

l=[2,4,56,78]
m=1
for i in l:
    m=m*i
print(m)

34944

In [20]:
# # 9) Write a Python program to print the pattern of numbers up to n lines. For example, if n=5, the pattern would be: 
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
# sol:

for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [171]:
h=0
for i in range(1,7):
    for j in range(1,i):
        h+=1
        print(h,end=' ')
    print('\n')

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [136]:
extra=0
for i in range(5):
    extra=extra+i
start=5+extra
for i in range(5):
    for j in range(i+1):
        print(format(start,'<3'),end='')
        start=start-1
    print("\n")

15

14 13

12 11 10

9  8  7  6

5  4  3  2  1

In [119]:
a="Python"
l=len(str(a))
for i in range(l):
    for j in range(i+1):
        print(a[i],end=' ')
    print('\n')

P

y y

t t t

h h h h

o o o o o

n n n n n n

In [127]:
a="python"
l=len(str(a))
for i in range(l):
    for j in range(i+1):
        print(a[j],end=' ')
    print('\n')

p

p y

p y t

p y t h

p y t h o

p y t h o n

In [129]:
a="python"
l=len(str(a))
for i in range(l):
    for j in range(l-i):
        print(a[j],end=' ')
    print('\n')

p y t h o n

p y t h o

p y t h

p y t

p y

p

In [134]:
a="Python"
l=len(str(a))
for i in range(l):
    for j in range(i):
        print(' ',end=" ")
    for j in range(l-i):
        print(a[j],end=' ')
    print('\n')

P y t h o n

  P y t h o

    P y t h

      P y t

        P y

          P

In [167]:
a="Python"
l=len(str(a))
for i in range(l-1,-1,-1):
    for j in range(l-i-1):
        print(' ',end=" ")
    for j in range(i+1):
        print(a[i],end=' ')
    print('\n')

n n n n n n

  o o o o o

    h h h h

      t t t

        y y

          P

In [2]:
n = 5
num = 1

# Loop for each row in the pyramid
for i in range(1, n+1):

    # Print spaces before each row
    for j in range(n-i):
        print(" ", end=" ")

    # Print odd numbers on the left side
    for k in range(i):
        print(num, end=" ")
        num += 2  # Increase by 2 to get the next odd number

    num -= 2  # Decrease by 2 to get the last odd number for the row

    # Print even numbers on the right side
    for l in range(i-1, 0, -1):
        num += 2  # Increase by 2 to get the next even number
        print(num, end=" ")

    print("\n")

        1

      1 3 5

    5 7 9 11 13

  13 15 17 19 21 23 25

25 27 29 31 33 35 37 39 41

In [3]:
n = 5  # size of the square

for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print('\n')

* * * * *

*       *

*       *

*       *

* * * * *

In [4]:
n = 5  # height of the triangle

for i in range(n):
    for j in range(i+1):
        if i==n-1 or j==0 or j==i:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print('\n')

*

* *

*   *

*     *

* * * * *

In [7]:
n = 9  # size of the butterfly

for i in range(n):
    print('*'*(i+1) + '  '*(n-i-1) + '*'*(i+1))
for i in range(n-1, -1, -1):
    print('*'*(i+1) + '  '*(n-i-1) + '*'*(i+1))

*                *
**              **
***            ***
****          ****
*****        *****
******      ******
*******    *******
********  ********
******************
******************
********  ********
*******    *******
******      ******
*****        *****
****          ****
***            ***
**              **
*                *

In [8]:
n = 5  # size of the diamond

for i in range(n):
    print(' '*(n-i-1) + '*'*(2*i+1))
for i in range(n-2, -1, -1):
    print(' '*(n-i-1) + '*'*(2*i+1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [9]:
n = 5  # size of the hourglass

for i in range(n, 0, -1):
    print(' '*(n-i) + '*'*(2*i-1))
for i in range(2, n+1):
    print(' '*(n-i) + '*'*(2*i-1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [13]:
n = 5  # height of the zigzag

for i in range(n):
    for j in range(n):
        if (i+j)%2 == 0:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print('\n')

*   *   *

  *   *

*   *   *

  *   *

*   *   *